@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");
* {
  margin: 0;
  padding: 0;
  font-family: Raleway, Helvetica, sans-serif;
}
body{
  background-color: #2f3d72;
}
/* -------------------------------------------------------------------------MENU------------------------------------------------------------------------- */
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  padding: 8px 10px;
}
nav h1{
  color: #fff;
  font-size: 35px;
  font-family: Raleway, Helvetica, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  margin-left: 15%;
}
a:hover {
  border-bottom: 2px solid rgb(29, 53, 126);
  border-top: 2px solid rgb(29, 53, 126);
  transition: .2s ease-out;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #212121;
  height: 8vh;
  border-bottom: 1px solid #fff;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
  margin-right: 15%;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (min-width: 300px) {
  body {
    overflow-x: hidden;
  }
.nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 15vw;
    height: 40vh;
    background: #212121;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-top: 1px solid rgb(29, 53, 126);
    border-bottom-left-radius: 10px;
}
.nav-list li {
    margin-left: 0;
    opacity: 0;
}
.mobile-menu {
    display: block;
}
}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

  /* ----------------------------------------------------------------MAIN------------------------------------------------------------------------ */

main{
  width: 100%;
  display: flex;
  justify-content: center;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  color: #fff;
  width: 60%;
  border-radius: 10px;
  margin: 2% 0 0 0;
  padding: 2%;
}
section img{
  width: 80%;
}
section h2{
  font-weight: 800;
  margin: 2% 0;
  font-size: 25px;
  width: 80%;
}
section p{
  text-indent: 40px;
  width: 80%;
  font-size: 18px;
}
section ul{
  margin: 10% 0 2% 0;
}
section ul li{
  color: #2f3d72;
  margin: 2% 0;
}
section a{
  border-bottom: 2px solid #2f3d72;
  padding: 0;
}
section a:hover{
  border: none;
  opacity: 0.5;
}
footer{
  text-align: center;
  background-color: #212121;
  color: #fff;
  font-family: Raleway, Helvetica, sans-serif;
  padding: 30px 0;
  margin-top: 2%;
}