@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'David Libre', serif; */
    background-image: url('../assets/champions.jpg');
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: brightness(45%);
    -webkit-backdrop-filter: blur(10px);
}
.parallax{
    height: 50vh;
}

/* -----------------------------------------------------------------------------------------MENU------------------------------------------------------------------------- */
nav{
    height: 10vh;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #bebebe;
    position: sticky;
    width: 100%;
}
nav h1{
    color: #fff;
    font-size: 35px;
    font-family: Raleway, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 45rem;
    list-style: none;
}
nav ul li a,span{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul li a:hover{
    border-top: 2px solid rgb(29, 53, 126);
    transition: .2s ease-out;
}
#now{
    border-top: 2px solid rgb(29, 53, 126);
}

/* -------------------------------------------------------------------------------BANNER---------------------------------------------------------------------------------------- */

.container-banner{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
.container-banner img{
    width: 20%;
    filter: drop-shadow(0 0 5px #fff);
}
.container{
    width: 25%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.063);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-bottom: 3%;
    padding: 10px 20px;
    box-shadow: 0 0 10px #fff;
    border: 1px dashed #fff;
    letter-spacing: 1px;
}
.container h3{
    text-align: center;
    color: white;
    font-size: 1.4vw;
    margin: 8% 0;
    font-style: italic;
    filter: drop-shadow(0 0 .2em #0e1e5b);
}
.container p{
    color: white;
    font-size: 1vw;
    margin: 5% 8%;
}
.container b{
    color: #2f3d72;
    font-size: 1.1vw;
}
.banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    padding-bottom: 40px;
    font-family: Raleway, Helvetica, sans-serif;
}
.banner h1{
    margin: 0 0 2% 10%;
    font-size: 40px;
}
.banner a{
    color: cadetblue;
    text-decoration: none;
}
.banner a:hover{
    text-decoration: underline;
}
/* ---------------------------------------------------------------------------INICIO DA PAGINA---------------------------------------------------------------------------------- */
.noticia{
    width: 80%;
    margin: auto;
}
section{
    /* background-color: #212121; */
    width: 90%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
svg{
    margin-bottom: -5px;
}
main{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway, Helvetica, sans-serif;
    padding: 0 0 20px 0;
}
main hr{
    width: 90%;
    margin: 5% auto;
}
main .gusta{
    border-radius: 20px;
    width: 300px;
}
main h1{
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
    font-style: italic;
    margin: 2%;
}
main .sobre{
    color: #fff;
    width: 60%;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
}
iframe{
    margin: 0 0 5% 0;
    min-width: 900px;
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.container1{
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
main img{
    width: 35%;
    border-radius: 10px;
    margin: 5%;
}
.textos{
    width: 40%;
    margin: 5%;
    display: flex;
    flex-direction: column;
}
.textos h2{
    margin: 2%;
    font-weight: 700;
    font-size: 30px;
}
.textos p{
    margin: 2%;
    text-align: justify;
}

.textos a {
    margin: 2%;
    text-decoration: none;
    width: 150px;
    height: 35px;
    color: rgb(134, 184, 167);
    z-index: 1;
    background: transparent;
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms;
    overflow: hidden;
}
   
.textos a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #2f3d72;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 300ms
}
   
.textos a:hover {
    color: #e8e8e8;
}
   
.textos a:hover::before {
    width: 100%;
}
footer{
    text-align: center;
    background-color: #2f3d72;
    color: #fff;
    font-family: Raleway, Helvetica, sans-serif;
    padding: 30px 0;
}
.mostrar{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 5% 0;
}
.img_frase{
    width: 45%;
    border: 1px solid #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.img_frase hr{
    width: 80%;
    margin: auto;
}
.img_frase .frase p{
    margin: 2% auto;
}
.frase h3{
    text-align: center;
    margin: 2% 0;
}
.img_frase img {
    width: 80%;
}
.img_frase a {
    margin: 5%;
    text-decoration: none;
    width: 150px;
    height: 35px;
    color: rgb(134, 184, 167);
    z-index: 1;
    left: 10%;
    background: transparent;
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    overflow: hidden;
}
   
.img_frase a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #2f3d72;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 300ms
}
   
.img_frase a:hover {
    color: #e8e8e8;
}
   
.img_frase a:hover::before {
    width: 100%;
}

/* ---------------------------------------------------------------------------------FORMULARIO-------------------------------------------------------------------------- */

.formulario{
    height: 92vh;
    background-color: #2f3d72;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Raleway, Helvetica, sans-serif;
}
.login-box img{
    position: relative;
    top: -90px;
    left: -10px;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #212121;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2 {
    margin: -80px 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    margin: 2% 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #004dff;
    outline: none;
    background: rgba(73, 72, 72, 0.1);
}
.login-box .user-box select{
    width: 100%;
    margin: 5% 0;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #004dff;
    outline: none;
    background: transparent;
}
.login-box .user-box option{
    background: #000;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box select:focus ~ label,
.login-box .user-box select:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 18px;
  /* font-weight: 700; */
}
.login-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    font-weight: 550;
    letter-spacing: 4px
}
.login-box button:hover {
    background: #3954b4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #3954b4,
                0 0 25px #3954b4,
                0 0 50px #3954b4,
                0 0 100px #3954b4;
}
.login-box button div {
    position: absolute;
    display: block;
}
.login-box button div:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #3954b4);
    animation: btn-anim1 1s linear infinite;
}
  
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
}
.login-box button div:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3954b4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
  
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}
  
.login-box button div:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #3954b4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
  
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
}
  
.login-box button div:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3954b4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
  
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}
.loading-div{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.spinner {
    position: relative;
    width: 56px;
    height: 56px;
    animation: spinner-3a5251 1.25s infinite linear;
}
   
   .spinner div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 3.6px solid transparent;
    border-right: 3.6px solid transparent;
    border-bottom: 10.8px solid #004dff;
    transform-origin: center 10.8px;
   }
   
   .spinner div:before,
   .spinner div:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-left: 10.8px solid transparent;
    border-right: 10.8px solid transparent;
    border-bottom: 7.2px solid #004dff;
   }
   
   .spinner div:before {
    transform: translate(-10.8px, 7.2px) rotate(35deg);
   }
   
   .spinner div:after {
    transform: translate(-10.8px, 7.2px) rotate(-35deg);
   }
   
   .spinner div:nth-child(1) {
    transform: translate(-50%, -10.8px) rotate(51.42857deg) translate(0, 320%);
   }
   
   .spinner div:nth-child(2) {
    transform: translate(-50%, -10.8px) rotate(102.85714deg) translate(0, 320%);
   }
   
   .spinner div:nth-child(3) {
    transform: translate(-50%, -10.8px) rotate(154.28571deg) translate(0, 320%);
   }
   
   .spinner div:nth-child(4) {
    transform: translate(-50%, -10.8px) rotate(205.71429deg) translate(0, 320%);
   }
   
   .spinner div:nth-child(5) {
    transform: translate(-50%, -10.8px) rotate(257.14286deg) translate(0, 320%);
   }
   
   .spinner div:nth-child(6) {
    transform: translate(-50%, -10.8px) rotate(308.57143deg) translate(0, 320%);
   }
   
   .spinner div:nth-child(7) {
    transform: translate(-50%, -10.8px) rotate(360deg) translate(0, 320%);
   }
   
   @keyframes spinner-3a5251 {
    to {
     transform: rotate(360deg);
    }
   }
/* ----------------------------------------------------------------------------------SOBRE MIM------------------------------------------------------------------------- */
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    color: #fff;
    width: 60%;
    border-radius: 10px;
    margin: 2% 0 0 0;
    padding: 2%;
  }
  .section img{
    width: 80%;
  }
  .section h2{
    font-weight: 800;
    margin: 2% 0;
    font-size: 25px;
    width: 80%;
    text-align: center;
  }
  .section p{
    width: 80%;
    font-size: 18px;
  }
  .sobre{
    text-indent: 40px;
    text-align: justify;
    letter-spacing: 1px;
  }
  .section ul{
    margin: 10% 0 2% 0;
  }
  .section ul li{
    color: #2f3d72;
    margin: 2% 0;
  }
  .section ul a{
    border-bottom: 2px solid #2f3d72;
    padding: 0;
    color: #fff;
    text-decoration: none;
  }
  .section ul li a:hover{
    border: none;
    opacity: 0.5;
  }
  i{
    font-size: 20px;
  }